#app {
    width: 100%;
    overflow: hidden;
    height: 100%;
    /* background: #e4f1ff; */
    background-image: url("./images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  input {
    border: 1px solid red;
    line-height: 2rem;
    border-radius: 1rem;
    text-align: center;
  }
  .first-page {
      position: absolute;
      left:0;
      bottom:6%;
    /* margin-top: 128%; */
    padding: 0 27.3%;
    display: block;
  }
  .first-page-input {
    width: 100%;
    display: block;
    border: 0.2rem solid #50352b;
    line-height: 4.4rem;
    border-radius: 2.2rem;
    text-align: center;
    font-size: 1.3rem;
    color: #999999;
    outline: none;
  }
  .first-page-button {
    width: 100%;
    display: block;
    margin-top: 2rem;
    height: auto;
  }
  .second-page {
    width: 62.1%;
    margin: 35% auto 0;
    font-size: 1.6rem;
    color: #333333;
    display: block;
    font-weight: 500;
  }
  .second-page-title {
    margin-bottom: 1.35rem;
  }
  .content-img,
  .content-tip,
  .icon-circle,
  .icon-circle_checked {
    display: inline-block;
    vertical-align: middle;
  }
  .content-img {
    width: 1.6rem;
    height: auto;
    display: inline-block;
    margin-right: 0.2rem;
  }
  .second-page-content {
    margin-top: 1.5rem;
  }
  .three-page {
    widows: 100%;
    height: 100%;
    display: none;
  }
  .four-page {
    width: 91%;
    height: 75%;
    background: #ffffff;
    margin: 13% auto 0;
    font-size: 1.4rem;
    display: none;
  }
  .four-page-clip {
    position: absolute;
    top: 6%;
    left: 20%;
    width: 60%;
    height: auto;
  }
  .four-page-left-hand {
    position: absolute;
    top: 12%;
    left: -5%;
    width: 20%;
    height: auto;
  }
  .four-page-right-hand {
    position: absolute;
    top: 12%;
    right: -5%;
    width: 20%;
    height: auto;
  }
  .four-page-title {
    padding-top: 12.5%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .four-page-title-second {
    margin-top: 5.5%;
    text-align: center;
  }
  .four-page-customer {
    margin: 4% 4% 0;
    /* border-bottom: 1px dotted #333333; */
    display: flex;
    justify-content: space-between;
  }
  .customer-item-name {
    display: inline-block;
    flex: 2;
  }
  .customer-item-department {
    display: inline-block;
    flex: 2;
  }
  .customer-item-clinic {
    display: inline-block;
    flex: 1;
    text-align: right;
  }
  .four-page-result {
    margin: 0.1rem 4% 0;
    padding-top: 8%;
    height: 45%;
    border-top: 1px dotted #333333;
    border-bottom: 1px dotted #333333;
  }
  .four-page-result-text {
    margin-top: 5%;
  }
  .four-page-sign {
    padding: 3% 4% 1%;
    display: flex;
    font-size: 1.2rem;
  }
  .four-page-sign-left {
    flex: 1;
  }
  .four-page-sign-left-img {
    /* width: 50%;
    height: auto; */
    width: 100px;
    height: 100px;
  }
  .four-page-sign-right {
    flex: 1;
    position: relative;
  }
  .four-page-sign-right-img {
    width: 70%;
    height: auto;
    position: absolute;
    left: -0.5rem;
    top: 1rem;
  }
  .four-page-content-img {
    display: none;
  }
  #img {
    width: 91%;
    height: 73%;
    margin: 13% auto 0;
    display: none;
  }
  p {
    line-height: 2rem;
  }
  .hand-move {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: none;
  }
  .hand-move-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10%;
    height: auto;
    transform: translate(-49%, -50%);
    text-align: center;
    opacity: 0.8;
  }
  @keyframes mymove {
    from {
      width: 10%;
    }
    to {
      width: 75%;
    }
  }
  @media screen and (max-width: 350px) {
    .four-page {
      height: 90%;
    }
  }